
@font-face {
    font-family: Montserrat; /* Имя шрифта */
    src: url(fonts/Montserrat-SemiBold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Montserrat_light; /* Имя шрифта */
    src: url(fonts/Montserrat-Light.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: CrimsonText_Italic; /* Имя шрифта */
    src: url(fonts/CrimsonText-Italic.ttf); /* Путь к файлу со шрифтом */
}




