
.statistic {
    position: relative;
    background-color: #111111;
    color: #ffffff;
    padding-left: -15px;
    padding-right: -15px;
    &__number {
        height: 100px;
        width: 100px;
        background: url("../../img/angar_3.png") center center no-repeat;
        background-size: cover;
        text-align: center;
        font-size: 30px;;
        color: $yellow;
    }
    &__order {
        position: absolute;
    }

}
