// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$textBlack: #111;
$black_2: #0e0e0e;
$hoverForTextBlack: #565454;
$gray_2: #555555;
$grayText: #7d7d7d;
$whiteText: #ffffff;
$yellow: #fcd846;



$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//Fonts

$MontserratSB: "Montserrat - Semi Bold";

