.galleryCards {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
.galleryCard {
    margin: 1%;
    width: 46%;
    position: relative;
    &__companyName {

    }
    &__delete {
        top: 3px;
        right: 3px;
        position: absolute;
    }
    & img {
        margin-top: 38px;
    }
}
