// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "scss";
@import "topnav";

// важно: "content" должен быть выше, чем "sidenav"
@import "content";
@import "sidenav";

@import "auth";
@import "error";





