
@mixin superHeader($color, $fontF) {
    font-family: $fontF;
    color: $color;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 60px;
    text-align: left;
}
@mixin response() {
    color: $textBlack;
    font-family: "Crimson Text - Roman";
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 38px;
    text-align: left;
}

@mixin newsHeader() {
    color: $textBlack;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: left;
}

@mixin miniHeader($color, $fontF) {
    color: $color;
    font-family: $fontF;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
}

@mixin miniBodyText($color, $fontFamily) {
    color: $color;
    font-family: $fontFamily;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 25px;
    text-align: left;
}

@mixin forDate($color) {
    color: $color;
    font-family: "CrimsonText_Italic";
    font-size: 16px;
    font-style: italic;
    letter-spacing: normal;
    line-height: 30px;
    text-align: left;
}

@mixin heading ($color) {
    color: $color;
    font-family: "Montserrat - Ultra Light";
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 60px;
    text-align: left;
}

@mixin miniText ($color, $fontFamily) {
    color: $color;
    font-family: $fontFamily;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 16px;
    text-align: left;
    //text-transform: uppercase;
}
@mixin anyText ($color, $family, $size, $weight, $height) {
    color: $color;
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    font-style: normal;
    letter-spacing: normal;
    line-height: $height;
    text-align: left;
}

